<div class="container justify-content-center">
    <div>
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-location-heading" class=" text-center pb-3"
                jhiTranslate="lacusticoApp.location.home.createOrEditLabel">
                Location</h2>
            <jhi-alert-error></jhi-alert-error>

            <div class="row justify-content-center pt-5">
                <div class="col-6 my-auto pr-2" id="map">
                    <agm-map [latitude]="latitude"
                             [longitude]="longitude"
                             style="height: 500px"
                             (mapClick)="onChoseLocation($event)">
                        <agm-marker
                            [latitude]="latitude" [longitude]="longitude">
                        </agm-marker>

                    </agm-map>
                </div>
                <div class="col-6 my-auto">
                    <div>

                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="lacusticoApp.location.name" for="field_name">Name</label>
                            <input type="text" class="form-control" name="name" id="field_name"
                                   formControlName="name"/>
                            <div
                                *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('name')?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="lacusticoApp.location.details"
                                   for="field_details">Details</label>
                            <input type="text" class="form-control" name="details" id="field_details"
                                   formControlName="details"/>
                            <div
                                *ngIf="editForm.get('details')!.invalid && (editForm.get('details')!.dirty || editForm.get('details')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('details')?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-control-label" jhiTranslate="lacusticoApp.location.activated"
                                   for="field_activated">Activated</label>
                            <input type="checkbox" class="form-control" name="activated" id="field_activated"
                                   formControlName="activated"/>
                            <div
                                *ngIf="editForm.get('activated')!.invalid && (editForm.get('activated')!.dirty || editForm.get('activated')!.touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('activated')?.errors?.required"
                                       jhiTranslate="entity.validation.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>

                        <div class="form-group">
                        <label class="form-control-label" jhiTranslate="lacusticoApp.location.entrepreneur"
                               for="field_entrepreneur">Entrepreneur</label>
                        <select class="form-control" id="field_entrepreneur" name="entrepreneur"
                                formControlName="entrepreneur">
                            <option [ngValue]="null"></option>
                            <option
                                [ngValue]="entrepreneurOption.id === editForm.get('entrepreneur')!.value?.id ? editForm.get('entrepreneur')!.value : entrepreneurOption"
                                *ngFor="let entrepreneurOption of entrepreneurs; trackBy: trackById">{{ entrepreneurOption.name }}</option>
                        </select>
                    </div>
                    </div>

                    <div class="col-12 pt-1 text-center">

                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                                class="btn btn-outline-success">
                            <span jhiTranslate="entity.action.save">Save</span>
                        </button>

                        <button type="button" id="cancel-save" class="btn btn-outline-danger" (click)="previousState()">
                            <span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                    </div>

                </div>

            </div>


        </form>
    </div>
</div>
