<div>
    <h2 id="page-heading" class="text-center pb-4">
        <span jhiTranslate="lacusticoApp.location.home.title">Locations</span>

        <button id="jh-create-entity"
                class="btn btn-outline-success float-right jh-create-entity create-location"
                [routerLink]="['/location/new']">
            <fa-icon icon="plus"></fa-icon>
        </button>
        <button type="submit"
                (click)="previousState()"
                class="btn btn-outline-primary float-right jh-create-entity create-category">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="locations?.length === 0">
        <span jhiTranslate="lacusticoApp.location.home.notFound">No locations found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="locations && locations.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>

                <th scope="col" ><span jhiTranslate="lacusticoApp.location.name">Name</span></th>
                <th scope="col" ><span jhiTranslate="lacusticoApp.location.details">Details</span></th>
                <th scope="col" ><span jhiTranslate="lacusticoApp.location.activated">Status</span></th>
                <th scope="col" ><span jhiTranslate="lacusticoApp.location.entrepreneur">Entrepreneur</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let location of locations | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;trackBy: trackId">
                <td>{{ location.name }}</td>
                <td>{{ location.details }}</td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="setActive(location, true)"
                            *ngIf="!location.activated"
                            jhiTranslate="lacusticoApp.entrepreneur.inactive">Deactivated
                    </button>
                    <button class="btn btn-success btn-sm" (click)="setActive(location, false)"
                            *ngIf="location.activated"
                            jhiTranslate="lacusticoApp.entrepreneur.active">Activated
                    </button>

                </td>
                <td>
                    <div *ngIf="location.entrepreneur">
                        <a [routerLink]="['/entrepreneur', location.entrepreneur?.id, 'view']" >{{ location.entrepreneur?.name }}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/location', location.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon icon="pencil-alt"></fa-icon>
                        </button>

                        <button type="submit" (click)="delete(location)"
                                class="btn btn-danger btn-sm">
                            <fa-icon icon="times"></fa-icon>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [pageSize] = "pageSize" [collectionSize]="collectionSize" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>
