<form *ngIf="account" name="deleteForm" (ngSubmit)="confirmDelete(account)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="settings.delete.tittleDeactivate">Confirm delete operation</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="cancel()" style="outline: none">&times;</button>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <p id="jhi-delete-settings-heading" jhiTranslate="settings.delete.question">
            Are you sure you want to delete if?</p>
    </div>

    <div class="modal-footer text-center" style="display: block !important;">

        <button type="submit" class="btn btn-outline-success" >
            <span jhiTranslate="settings.delete.btnDeactivate">Delete</span>
        </button>
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal" (click)="cancel()">
            <span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

    </div>
</form>
