<div class="row">
    <div class="col-md-12">


        <div [ngSwitch]="isAuthenticated()">
            <!--Search-->
            <div *ngSwitchCase="false">
                <div class="text-center" >
                    <h1 class="display-4 pb-3" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
                </div>
                <div style="background-color: rgba(0,160,138,0.5);">
                    <div class="form-group row justify-content-center pt-4 h-100">
                        <div class="custom-control custom-radio col-2  text-center align-middle my-auto">
                            <input type="radio" id="prodRadio" name="typeRadio" class="custom-control-input" checked=""
                                   (change)="updateTypeSearch(false)">
                            <label class="custom-control-label " for="prodRadio" jhiTranslate="home.product"
                                   style="font-size: 1.3rem">Product</label>

                        </div>
                        <div class="custom-control custom-radio col-2  text-center ">
                            <input type="radio" id="entreRadio" name="typeRadio" class="custom-control-input"
                                   (change)="updateTypeSearch(true)">
                            <label class="custom-control-label" for="entreRadio" jhiTranslate="home.entrepreneur"
                                   style="font-size: 1.3rem">Entrepreneur</label>
                        </div>
                    </div>

                    <div class=" row justify-content-center align-items-center">
                        <input type="text" class="form-control text-center" name="search" id="search"
                               placeholder="{{ 'home.search' | translate }}"
                               style="border: 1px solid rgba(0, 0, 0, 0.125); border-radius: 0.25rem; width: 35%; font-size: 1.2rem;"
                               (keyup)="find($event)"/>
                    </div>

                    <div class="form-group row justify-content-center pb-4 pt-2">
                        <div class="custom-control custom-radio col-1  text-center">
                            <input type="radio" id="nameRadio" name="catRadio" class="custom-control-input" checked=""
                                   (change)="updateFilterSearch(false)">
                            <label class="custom-control-label" for="nameRadio" jhiTranslate="home.name"
                                   style="font-size: 1.1rem">Name</label>
                        </div>
                        <div class="custom-control custom-radio col-1  text-center ">
                            <input type="radio" id="categoryRadio" name="catRadio" class="custom-control-input"
                                   (change)="updateFilterSearch(true)">
                            <label class="custom-control-label" for="categoryRadio" jhiTranslate="home.category"
                                   style="font-size: 1.1rem">Category</label>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-10">
                        <div class="col-12">
                            <!--Productos-->
                            <div class="row" *ngIf="typeSearch==false">
                                <div class="col-md-3 pt-3" *ngFor="let product of products;trackBy: trackId">
                                    <div class="row">
                                        <img class="card-img-top col-12"
                                             *ngIf="product.productImageContentType ==null"
                                             src="../../content/images/lacusticos_products.jpg"
                                             alt="Card image cap">
                                        <img class="card-img-top col-12"
                                             style="height: 231px; width: 347px;"
                                             *ngIf="product.productImageContentType !==null"
                                             [src]="'data:' + product.productImageContentType + ';base64,' + product.productImage"
                                             alt="Card image cap"><img/>
                                    </div>
                                    <div class="pt-2 pb-2 pl-2 pr-2">
                                        <h5 class="card-title text-center"
                                            style="font-size:1vw;">
                                            <a [routerLink]="['/product', product.id, 'view']">
                                                {{product.name}}
                                            </a></h5>
                                    </div>
                                </div>
                            </div>
                            <!--Emprendimientos-->
                            <div class="row" *ngIf="typeSearch==true">

                                <div class="col-3 pt-3" *ngFor="let entrepreneur of entrepreneurs;trackBy: trackId">
                                    <div class="row">
                                        <img class="card-img-top img-fluid col-12"
                                             *ngIf="entrepreneur.picture ==null"
                                             style="height: 231px; width: 340px;"
                                             src="../../content/images/lacusticos_products.jpg"
                                             alt="Card image cap">
                                        <img class="card-img-top img-fluid col-12"
                                             style="height: 231px; width: 340px;"
                                             *ngIf="entrepreneur.pictureContentType !==null"
                                             [src]="'data:' + entrepreneur.pictureContentType + ';base64,' + entrepreneur.picture"
                                             alt="Card image cap"><img/>
                                    </div>
                                    <div class="pt-2 pb-2 pl-2 pr-2">
                                        <h5 class="card-title text-center"
                                            style="font-size:1vw;">

                                            <a [routerLink]="['/entrepreneur', entrepreneur.id, 'view']">
                                                {{entrepreneur.name}}
                                            </a></h5>

                                    </div>
                                </div>
                            </div>
                            <!-- Card -->
                        </div>
                    </div>
                </div>

            </div>

            <!--Dashboards-->

            <div *ngSwitchCase="true" class="pt-3 row justify-content-center" >
                <div class="text-center" >
                    <h1 class="display-4 pb-4" jhiTranslate="home.title">Welcome, Java Hipster!</h1>
                </div>
                <div class="col-10">
                    <div class="row justify-content-center pb-4">
                        <div id="entrepreneurs" class="card col-5 p-3">
                            <div class="row justify-content-center">
                                <div class="col-5 my-auto">
                                    <div class="row justify-content-center pr-4 pt-2">
                                        <h3 jhiTranslate="home.entrepreneur">Entrepreneur</h3>
                                        <fa-icon icon="briefcase" [fixedWidth]="true" style="color: #00a08a; font-size: 120px;"></fa-icon>
                                    </div>
                                </div>
                                <div class="border"></div>
                                <div class="col-6 my-auto pr-0">
                                    <a class="d-block w-100 mb-3" routerLink="entrepreneur/new" routerLinkActive="active"
                                       [routerLinkActiveOptions]="{ exact: true }"
                                    style="font-size: 1.28rem; padding: 0.25rem 1.5rem;">

                                        <fa-icon icon="plus" [fixedWidth]="true"></fa-icon>
                                        <span jhiTranslate="home.addEntrepreneur">Entrepreneur</span>
                                    </a>
                                    <a class="d-block w-100" routerLink="entrepreneur" routerLinkActive="active"
                                       [routerLinkActiveOptions]="{ exact: true }"
                                       style="font-size: 1.28rem; padding: 0.25rem 1.5rem;">
                                        <fa-icon icon="list" [fixedWidth]="true"></fa-icon>
                                        <span jhiTranslate="home.listEntrepreneur">Location</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="pr-4"></div>
                        <div id="products" class="card col-5 p-3">
                            <div class="row justify-content-center">
                                <div class="col-5 my-auto">
                                    <div class="row justify-content-center pr-4 pt-2">
                                        <h3 jhiTranslate="home.product">Entrepreneur</h3>
                                        <fa-icon icon="shapes" [fixedWidth]="true" style="color: #00a08a; font-size: 120px;"></fa-icon>
                                    </div>
                                </div>
                                <div class="border"></div>
                                <div class="col-6 my-auto">
                                    <a class="d-block w-100 mb-3" routerLink="product/new" routerLinkActive="active"
                                       [routerLinkActiveOptions]="{ exact: true }"
                                       style="font-size: 1.28rem; padding: 0.25rem 1.5rem;">

                                        <fa-icon icon="plus" [fixedWidth]="true"></fa-icon>
                                        <span jhiTranslate="home.addProduct">Entrepreneur</span>
                                    </a>
                                    <a class="d-block w-100" routerLink="product" routerLinkActive="active"
                                       [routerLinkActiveOptions]="{ exact: true }"
                                       style="font-size: 1.28rem; padding: 0.25rem 1.5rem;">
                                        <fa-icon icon="list" [fixedWidth]="true"></fa-icon>
                                        <span jhiTranslate="home.listProduct">Location</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row  justify-content-center pb-4">
                        <div id="locations" class="card col-5 p-3">
                            <div class="row justify-content-center">
                                <div class="col-5 my-auto">
                                    <div class="row justify-content-center pr-4 pt-2">
                                        <h3 jhiTranslate="home.location">Entrepreneur</h3>
                                        <fa-icon icon="thumbtack" [fixedWidth]="true"
                                                 style="color: #00a08a; font-size: 120px;"></fa-icon>
                                    </div>
                                </div>
                                <div class="border"></div>
                                <div class="col-6 my-auto">
                                    <a class="d-block w-100 mb-3" routerLink="location/new" routerLinkActive="active"
                                       [routerLinkActiveOptions]="{ exact: true }"
                                       style="font-size: 1.28rem; padding: 0.25rem 1.5rem;">

                                        <fa-icon icon="plus" [fixedWidth]="true"></fa-icon>
                                        <span jhiTranslate="home.addLocation">Entrepreneur</span>
                                    </a>
                                    <a class="d-block w-100" routerLink="location" routerLinkActive="active"
                                       [routerLinkActiveOptions]="{ exact: true }"
                                       style="font-size: 1.28rem; padding: 0.25rem 1.5rem;">
                                        <fa-icon icon="list" [fixedWidth]="true"></fa-icon>
                                        <span jhiTranslate="home.listLocation">Location</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="pr-4"></div>
                        <div id="delivery platforms" class="card col-5 p-3">
                            <div class="row justify-content-center">
                                <div class="col-5 my-auto">
                                    <div class="row justify-content-center pr-4 pt-2">
                                        <h3 jhiTranslate="home.delivery" class="text-center">Entrepreneur</h3>
                                        <fa-icon icon="truck" [fixedWidth]="true"
                                                 style="color: #00a08a; font-size: 120px;"></fa-icon>
                                    </div>
                                </div>
                                <div class="border"></div>
                                <div class="col-6 my-auto">
                                    <a class="d-block w-100 mb-3" routerLink="delivery-platform/new" routerLinkActive="active"
                                       [routerLinkActiveOptions]="{ exact: true }"
                                       style="font-size: 1.28rem; padding: 0.25rem 1.5rem;">

                                        <fa-icon icon="plus" [fixedWidth]="true"></fa-icon>
                                        <span jhiTranslate="home.addDelivery">Entrepreneur</span>
                                    </a>
                                    <a class="d-block w-100" routerLink="delivery-platform" routerLinkActive="active"
                                       [routerLinkActiveOptions]="{ exact: true }"
                                       style="font-size: 1.28rem; padding: 0.25rem 1.5rem;">
                                        <fa-icon icon="list" [fixedWidth]="true"></fa-icon>
                                        <span jhiTranslate="home.listDelivery">Location</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

