<div>
    <h2 id="page-heading" class="text-center pb-4">
        <span jhiTranslate="lacusticoApp.product.home.title">Products</span>

        <button id="jh-create-entity" class="btn btn-outline-success float-right jh-create-entity create-product"
                [routerLink]="['/product/new']">
            <fa-icon icon="plus"></fa-icon>
        </button>
        <button type="submit" title="{{ 'lacusticoApp.entrepreneur.btnBack' | translate }}"
                (click)="previousState()"
                class="btn btn-outline-primary float-right jh-create-entity create-category">
            <fa-icon icon="arrow-left"></fa-icon>&nbsp;
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="products?.length === 0">
    <span jhiTranslate="lacusticoApp.product.home.notFound">No products found</span>
</div>

    <div class="table-responsive table-hover" id="entities" *ngIf="products && products.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="lacusticoApp.product.productImage">Product Image</span></th>
                    <th scope="col" ><span jhiTranslate="lacusticoApp.product.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="lacusticoApp.product.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="lacusticoApp.product.price">Price</span></th>
                    <th scope="col" ><span jhiTranslate="lacusticoApp.product.category">Category</span></th>
                    <th scope="col" ><span jhiTranslate="lacusticoApp.product.activated">Activated</span></th>

                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; trackBy: trackId">
                    <td>
                        <a *ngIf="product.productImage" (click)="openFile(product.productImageContentType, product.productImage)">
                            <img [src]="'data:' + product.productImageContentType + ';base64,' + product.productImage" style="max-height: 30px;" alt="product image"/>
                        </a>
                    </td>
                    <td><a [routerLink]="['/product', product.id, 'view']">{{ product.name }}</a></td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td><div *ngIf="product.category">{{ product.category?.description }}</div></td>
                    <td><button class="btn btn-danger btn-sm" (click)="setActive(product, true)" *ngIf="!product.activated"
                                jhiTranslate="lacusticoApp.entrepreneur.inactive">Deactivated
                    </button>
                        <button class="btn btn-success btn-sm" (click)="setActive(product, false)" *ngIf="product.activated"
                                jhiTranslate="lacusticoApp.entrepreneur.active">product
                        </button></td>

                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/product', product.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/product', product.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                            </button>

<!--                            <button type="submit" (click)="delete(product)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                            </button>-->
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-center">
        <ngb-pagination [pageSize] = "pageSize" [collectionSize]="collectionSize" [(page)]="page" [boundaryLinks]="true"></ngb-pagination>

    </div>

</div>
