<div class="container ">
    <div class="row">
        <div class="col-sm-5  pt-0 pr-0 pl-0 pb-0 " style="background-color: #011627 !important">
            <div>
                <img src="../../../content/images/logo_titulo.png" alt="Logo" class="img-fluid"><img/>
                <h3 jhiTranslate="login.title" class="pt-3" style="color: #FDFFFC; text-align: center; font-size: 1.5rem !important;">
                    Bienvenido</h3>
            </div>

        </div>
        <div class="col-sm-7">
            <div class="p-sm-3">
                <button aria-label="Close" data-dismiss="modal" class="close" type="button"
                        (click)="activeModal.dismiss('closed')">
                    <span aria-hidden="true">x</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="alert alert-danger" jhiTranslate="login.messages.error.authentication" *ngIf="authenticationError">
                            Credenciales incorrectas
                        </div>
                    </div>

                    <div class="col-md-12">
                        <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                            <div class="form-group">
                                <label class="username-label" for="username" jhiTranslate="login.form.email">Correo electrónico</label>
                                <input type="text" class="form-control" name="username" id="username"
                                       placeholder="{{ 'login.form.email.placeholder' | translate }}"
                                       formControlName="username" #username>
                            </div>

                            <div class="form-group" style="margin-bottom: 0rem !important;">
                                <label for="password" jhiTranslate="login.form.password">Contraseña</label>
                                <input type="password" class="form-control" name="password" id="password"
                                       placeholder="{{ 'login.form.password.placeholder' | translate }}"
                                       formControlName="password">
                            </div>
                            <div class="text-right pb-3">
                                <a style="color: gray !important; font-size: 0.70rem;" (click)="requestResetPassword()"
                                   jhiTranslate="login.password.forgot"><strong>
                                    Restablecer contraseña</strong></a>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-outline-success"
                                jhiTranslate="login.form.button">Iniciar sesión</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
